h1 {
      font-family: Georgia;
      color:#1FDBF1;
      }
h2 {
      font-family: Arial;
      color:#774DFA;
     }
body {background-image: url("115783678b832b9.jpg");
      background-color: #CDFFFB;
    }
