h1 {
      font-family: Georgia;
      color: #4BF1CB;
      }
h2 {
      font-family: Arial;
      color:#C674EA;
     }
body {
    background-image: url("https://www.google.com.sg/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwibiKy1tr7aAhUO148KHeOGBhUQjRx6BAgAEAU&url=http%3A%2F%2Fscalar.usc.edu%2Fworks%2Fphotographer-world%2Fpattern-background&psig=AOvVaw37M_b88XkGzRBW1kdGfJYD&ust=1523955396865919");
}
